$color-dark: #1b223c;
$color-light: #E7EBFF;
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #797878;
$color-gray-2: #3C3C3C;
$color-background-light: #FBFBFB;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    margin-bottom: 9.4rem;
}

.button {
    border: none;
    background-color: transparent;
}

.container {
    min-height: 100vh;
}

.header {
    background-image: url(images/background-hero.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    
    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 4rem;
        
        height: 10rem;

        &__brand {
            display: flex;
            align-items: center;
            gap: 0.8rem;

            .logo-img {
                width: 4.4rem;
                height: 4.4rem;
            }

            .logo-text {
                font-size: 2.4rem;
            }
        }

        &__menu {
            color: $color-dark;

            ul {
                display: flex;
                list-style: none;
                gap: 4.4rem;

                li {
                    font-size: 1.8rem;
                    font-weight: $fw-medium;
                }
            }
        }

        &__action {
            display: flex;
            gap: 1.6rem;

            &__button {
                font-size: 1.8rem;
                font-weight: $fw-medium;

                padding: 0 2.8rem;
                border-radius: 1.2rem;

                height: 4.8rem;

                cursor: pointer;

                &--login {
                    background-color: transparent;
                    color: $color-dark;

                    border: 0.1rem solid $color-dark;
                }

                &--signup {
                    background-color: $color-dark;
                    color: $color-white;
                }
            }
        }
    }

    .content {
        margin-top: 7.8rem;
        padding-bottom: 6rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;

        &__heading {
            font-size: 6.4rem;
            font-weight: $fw-regular;
            color: $color-black;
        }

        &__headline {
            margin-top: 1.4rem;
            font-size: 2.4rem;
            font-weight: $fw-light;
            width: 65.6rem;
            text-align: center;
            color: $color-gray;
        }

        .switch-tab {
            margin-top: 2.8rem;
            background-color: $color-background-light;
            border: .1rem solid $color-light;
            border-radius: 1.4rem;
            height: 6.4rem;
            width: 25.6rem;

            display: flex;
            justify-content: space-around;

            padding: .8rem;

            .button-switch {
                width: 12rem;
                font-size: 2.4rem;
                color: $color-gray;

                cursor: pointer;

                &--selected {
                    background-color: $color-white;
                    color: $color-dark;
                    border: .1rem solid $color-light;
                    border-radius: 1.2rem;
                }
            }
        }
    }
}

.main {

    .pricing {

        .plan {
            display: flex;
            justify-content: center;
            gap: 4rem;

            .card {
                padding: 4rem;
                border: .1rem solid $color-light;
                border-radius: 2.6rem;
                width: 48.8rem;

                box-shadow: 0 .5rem 5rem -.5rem $color-light;

                img {

                }

                &__heading {
                    margin-top: 2rem;
                    margin-bottom: 1.4rem;
                    font-size: 4.4rem;
                    font-weight: $fw-medium;

                    display: flex;
                    align-items: center;
                    gap: 1.4rem;

                    .mini-card {
                        font-size: 1.8rem;
                        color: $color-white;
                        font-weight: $fw-light;
                        border-radius: .8rem;
                        border: .1rem solid $color-white;
                        padding: .5rem 1rem;
                        margin-bottom: -.5rem;
                    }
                }

                &__description {
                    font-size: 2.4rem;
                    font-weight: $fw-light;
                    line-height: 3.2rem;
                    color: $color-gray;

                    &--business {
                        color: $color-gray-2;
                    }
                }

                &__price {
                    margin-top: 2.4rem;
                    display: flex;
                    align-items: flex-end;

                    &__value {
                        font-size: 6rem;
                        font-weight: $fw-medium;
                    }

                    &__text {
                        font-size: 2.4rem;
                        font-weight: $fw-light;
                        margin-bottom: 1.4rem;
                        margin-left: 1rem;
                        color: $color-gray;

                        &--business {
                            color: $color-gray-2;
                        }
                    }
                }

                &__line {
                    margin: 2.8rem 0;
                    color: $color-light;
                }

                &__attributes {

                    ul {

                        list-style: none;
                        
                        li {
                            font-size: 2.4rem;
                            font-weight: $fw-regular;
                            color: $color-dark;
                            margin-bottom: 1.2rem;
                            line-height: 4rem;

                            &::before {
                                content: url(images/check.svg);
                                padding-right: 1.6rem;
                            }
                        }
                    }
                    margin-bottom: 4.4rem;
                }

                .button__action {

                    border-radius: 1.2rem;
                    border: .1rem solid $color-dark;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 100%;
                    height: 6rem;

                    cursor: pointer;

                    &--pro {
                        font-size: 2.4rem;
                        color: $color-dark;
                    }

                    &--business {
                        font-size: 2.4rem;
                        background-color: $color-dark;
                        color: $color-white;
                    }
                }

                &__business {
                    background-image: url(images/background-business.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
            }
        }
    }
}