$color-dark: #1b223c;
$color-light: #e7ebff;
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #797878;
$color-gray-2: #3c3c3c;
$color-background-light: #fbfbfb;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;