* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  margin-bottom: 9.4rem;
}

.button {
  border: none;
  background-color: transparent;
}

.container {
  min-height: 100vh;
}

.header {
  background-image: url(images/background-hero.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4rem;
  height: 10rem;
}
.navigation__brand {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.navigation__brand .logo-img {
  width: 4.4rem;
  height: 4.4rem;
}
.navigation__brand .logo-text {
  font-size: 2.4rem;
}
.navigation__menu ul {
  display: flex;
  list-style: none;
  gap: 4.4rem;
}
.navigation__menu ul li {
  font-size: 1.8rem;
  font-weight: 500;
}
.navigation__menu ul li a {
  text-decoration: none;
  color: #1b223c;
}
.navigation__action {
  display: flex;
  gap: 1.6rem;
}
.navigation__action__button {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0 2.8rem;
  border-radius: 1.2rem;
  height: 4.8rem;
  cursor: pointer;
}
.navigation__action__button--login {
  background-color: transparent;
  color: #1b223c;
  border: 0.1rem solid #1b223c;
}
.navigation__action__button--signup {
  background-color: #1b223c;
  color: #ffffff;
}

.content {
  margin-top: 7.8rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.content__heading {
  font-size: 6.4rem;
  font-weight: 400;
  color: #000000;
}
.content__headline {
  margin-top: 1.4rem;
  font-size: 2.4rem;
  font-weight: 300;
  width: 65.6rem;
  text-align: center;
  color: #797878;
}
.content .switch-tab {
  margin-top: 2.8rem;
  background-color: #fbfbfb;
  border: 0.1rem solid #e7ebff;
  border-radius: 1.4rem;
  height: 6.4rem;
  width: 25.6rem;
  display: flex;
  justify-content: space-around;
  padding: 0.8rem;
}
.content .switch-tab .button-switch {
  width: 12rem;
  font-size: 2.4rem;
  color: #797878;
  cursor: pointer;
}
.content .switch-tab .button-switch--selected {
  background-color: #ffffff;
  color: #1b223c;
  border: 0.1rem solid #e7ebff;
  border-radius: 1.2rem;
}

.pricing .plan {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.pricing .plan .card {
  padding: 4rem;
  border: 0.1rem solid #e7ebff;
  border-radius: 2.6rem;
  width: 48.8rem;
  box-shadow: 0 0.5rem 5rem -0.5rem #e7ebff;
}
.pricing .plan .card__heading {
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  font-size: 4.4rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.pricing .plan .card__heading .mini-card {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: 300;
  border-radius: 0.8rem;
  border: 0.1rem solid #ffffff;
  padding: 0.5rem 1rem;
  margin-bottom: -0.5rem;
}
.pricing .plan .card__description {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 3.2rem;
  color: #797878;
}
.pricing .plan .card__description--business {
  color: #3c3c3c;
}
.pricing .plan .card__price {
  margin-top: 2.4rem;
  display: flex;
  align-items: flex-end;
}
.pricing .plan .card__price__value {
  font-size: 6rem;
  font-weight: 500;
}
.pricing .plan .card__price__text {
  font-size: 2.4rem;
  font-weight: 300;
  margin-bottom: 1.4rem;
  margin-left: 1rem;
  color: #797878;
}
.pricing .plan .card__price__text--business {
  color: #3c3c3c;
}
.pricing .plan .card__line {
  margin: 2.8rem 0;
  color: #e7ebff;
}
.pricing .plan .card__attributes {
  margin-bottom: 4.4rem;
}
.pricing .plan .card__attributes ul {
  list-style: none;
}
.pricing .plan .card__attributes ul li {
  font-size: 2.4rem;
  font-weight: 400;
  color: #1b223c;
  margin-bottom: 1.2rem;
  line-height: 4rem;
}
.pricing .plan .card__attributes ul li::before {
  content: url(images/check.svg);
  padding-right: 1.6rem;
}
.pricing .plan .card .button__action {
  border-radius: 1.2rem;
  border: 0.1rem solid #1b223c;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6rem;
  cursor: pointer;
}
.pricing .plan .card .button__action--pro {
  font-size: 2.4rem;
  color: #1b223c;
}
.pricing .plan .card .button__action--business {
  font-size: 2.4rem;
  background-color: #1b223c;
  color: #ffffff;
}
.pricing .plan .card__business {
  background-image: url(images/background-business.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*# sourceMappingURL=index.css.map */
